<div class="row">
  <div class="col-lg-6">
    <div class="input-group">
        <span style="min-width: 125px" [class.input-group-addon]="true" [class.label-info]="isSelected">{{leyenda}}</span>
          <button type="button" class="btn btn-primary dropdown-toggle" id="{{idcombo}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" >
            <li style="cursor: pointer;" *ngFor="let x of options" (click)="selectedFunction(x.id)" >{{x.name}}</li>
          </ul>
    </div>
  </div>
</div>
