<div class="grupos">
  <div class="gencabezado"> {{titulo}} </div>
  <div class="ginp">
    <input type="text" placeholder="Buscar" style="margin-top: 5px; width: 100%;">
  </div>
 <!-- <div class="lista">
    <div class="list-group">
      <button *ngFor="let item of items" type="button" class="list-group-item" (click)="clickSelected(item.id)">{{item.nombre}}</button>
    </div>
  </div> -->

 <!-- <select style="height: 100%" class="form-control " multiple>
    <option *ngFor="let item of items" value="{{item.id}}" (click)="clickSelected(item.id)">{{item.nombre}}</option>
  </select> -->

</div>
