/*********** Clase Grupo **********************/
.grupos{
  float: left;
  margin: 5px;
  width: 200px;
  height: 300px;
  border:1px solid gray;    /************ Opcionar quitar el cuadro **************/
}

.gencabezado{
  width: 100%;
  height: 30px;
  text-align: center;
  /* border:1px solid black;*/
}

.ginp{
  width: 100%;
  height: 40px;
  /* border:1px solid black;*/
}
.lista{
  width: 100%;
  height: 100%;
}
/*********** Fin Clase Grupo **********************/
